<!-- daily_report_modal.html -->
<div class="modal fade" id="dailyReportModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="dailyReportModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="dailyReportModalLabel">輸入日報表</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form id="dailyReportForm">
            <div class="mb-3">
              <label for="reportdate" class="form-label">日期</label>
              <input type="date" class="form-control" id="reportdate" >
            </div>
            <div class="mb-3">
              <label for="reportclientname" class="form-label">客戶名稱</label>
              <input type="text" class="form-control " id="reportclientname" list="clientnames" placeholder="請輸入客戶名稱或關鍵字" >
              <datalist id="clientnames"></datalist>
            </div>
            <div class="mb-3">
              <label for="reportip" class="form-label">IP位址</label>
              <textarea class="form-control" id="reportip" rows="1" ></textarea>
            </div>
            <div class="mb-3">
              <label for="reportmachinenumber" class="form-label">機號</label>
              <textarea class="form-control" id="reportmachinenumber" rows="1" ></textarea>
            </div>
            <div class="mb-3">
              <label for="reportmodal" class="form-label">機型</label>
              <textarea class="form-control" id="reportmodal" rows="1" ></textarea>
            </div>
            <div class="mb-3">
              <label for="reportbcounter" class="form-label">黑白計數器</label>
              <textarea class="form-control" id="reportbcounter" rows="1" ></textarea>
            </div>
            <div class="mb-3">
              <label for="reportccounter" class="form-label">彩色計數器</label>
              <textarea class="form-control" id="reportccounter" rows="1" ></textarea>
            </div>
            <div class="mb-3">
              <label for="reportccounter2" class="form-label">彩色計數器2</label>
              <textarea class="form-control" id="reportccounter2" rows="1" ></textarea>
            </div>
            <div class="mb-3">
              <label for="reportpart" class="form-label">零件料號</label>
              <textarea class="form-control" id="reportpart" rows="1" ></textarea>
            </div>
            <div class="mb-3">
              <label for="reportpartcounter" class="form-label">數量</label>
              <textarea class="form-control" id="reportpartcounter" rows="1" ></textarea>
            </div>
            <div class="mb-3">
              <label for="reportservice" class="form-label">維修內容</label>
              <textarea class="form-control" id="reportservice" rows="4"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">提交</button>
          </form>
        </div>
      </div>
    </div>
  </div>

