<div class="modal fade" id="modalDialog" tabindex="-1" aria-labelledby="successModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalDialogLabel">確認視窗</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p id = "modalDialogLabelMessage"></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" id ="modalDialogConfirmButton" data-bs-dismiss="modal">是</button>
          <button type="button" class="btn btn-secondary" id ="modalDialogCancelButton" >否</button>
        </div>
      </div>
    </div>
  </div>