<!-- 零件料號和数量的输入窗口 -->
<div id="partModal" class="modal fade" tabindex="-1" aria-labelledby="partModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">增加零件料號</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form id="partForm">
            <div class="mb-3">
              <label for="newPartNumber" class="form-label">零件料號</label>
              <input type="text" class="form-control" id="newPartNumber" >
            </div>
            <div class="mb-3">
              <label for="newPartQuantity" class="form-label">數量</label>
              <input type="number" class="form-control" id="newPartQuantity" >
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" id="savePartButton">保存</button>
        </div>
      </div>
    </div>
  </div>