/* 通用樣式 */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%; /* 支持旧版浏览器 */
    
}

h1, h2, h3 {
    color: #333;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

/* 導航欄樣式 */
nav {
    background-color: #2065ce;
    padding: 10px;
    color: rgb(167, 212, 218);
}

nav a {
    color: rgba(65, 144, 235, 0);
    text-decoration: none;
    padding: 10px 20px;
}

nav a:hover {
    background-color: #1a70d3;
}

/* 表格樣式 */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

table th {
    background-color: #f2f2f2;
    color: #333;
}

table tr:nth-child(even) {
    background-color: #f9f9f9;
}

table tr:hover {
    background-color: #eaeaea;
}




/* 加载指示器容器 */
#loadingIndicator {
    display: none; /* 默认隐藏 */
    position: fixed;
    z-index: 9999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

/* 旋转动画 */
.spinner {
    border: 4px solid rgb(0, 16, 236);
    border-top: 4px solid #1ea5ff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

/* 动画效果 */
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* 文本样式 */
.loading-text {
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #3498db;
}

.report-date-label {
    margin-left: 12px;
    font-size: 20px;
    color: #df5050; /* 可以调整颜色 */
    font-weight: bold; /* 可以使用更粗的字体 */
}