<!DOCTYPE html>
<html lang="zh-Hant">
<head>
    <meta charset="UTF-8">
    <title>日報表管理系統</title>   
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="" name="keywords">
    <meta content="" name="description">
    <!-- 引入Bootstrap CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
     <!-- 引入Bootstrap Icons CSS -->
     <link href="{{ url_for('static', filename='css/bootstrap-icons.css') }}" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    

</head>
<body>
    <!-- 加载指示器 -->
    <div id="loadingIndicator">
      <div class="loading-text">請稍候...</div>
        <div class="spinner" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
  

    <nav class="navbar fixed-top navbar-dark  bg-primary">
        <div class="container-fluid">
          <a class="navbar-brand large-text bold-text" id = "logoutLink" href="#" style="text-align: center"> 
            {{ user_class }} <i class="bi bi-person-walking"></i><i class="bi bi-door-open"></i></i>登出</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"  aria-label="open" aria-controls="offcanvasNavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="offcanvas offcanvas-end bg-dark "   tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header" style="background-color: #0794f8; ">
              <h5 class="offcanvas-title  large-text bold-text" id="offcanvasNavbarLabel" >選單</h5>
              <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
              <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                <li class="nav-item">
                  <a class="nav-link  large-text"  aria-current="page" href="{{ url_for('user_report_page') }}" id="openDailyReportModal" data-bs-dismiss="offcanvas">日報表</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link   large-text" aria-current="page" href="{{ url_for('add_client_page') }}" id="addClientModal" data-bs-dismiss="offcanvas">新增客戶</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link large-text"  aria-current="page" href="{{ url_for('modify_client_page') }}" id="customerListModal" data-bs-dismiss="offcanvas">修改客戶</a>
                </li>
                <!-- <li class="nav-item">
                  <a class="nav-link large-text" href="#" data-bs-dismiss="offcanvas">查詢客戶</a>
                </li> -->
                <li class="nav-item">
                  <a class="nav-link large-text" aria-current="page" href="{{ url_for('query_report_page') }}" id="queryReportModal" data-bs-dismiss="offcanvas">查詢報表</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link large-text" aria-current="page" href="{{ url_for('report_counter_page') }}" id="reportCounterModal" data-bs-dismiss="offcanvas">張數記錄</a>
                </li>
                <!-- <li class="nav-item">
                  <a class="nav-link large-text" href="#" data-bs-dismiss="offcanvas">報表編輯</a>
                 </li> -->
            </div>
          </div>
        </div>
      </nav>
    <div>

      

    {% block content %}
    {% endblock %}

    

    </div>
    <div id="footer" style="text-align: center">
        &copy; Copyright 2024 by 南.
    </div>

    <script>
      document.getElementById('logoutLink').addEventListener('click', function(event) {
          event.preventDefault();
          
          fetch('/logout', {
              method: 'POST',
              headers: {
            'Content-Type': 'application/json',
            
        }
          })
          .then(response => {
              if (response.ok) {
                  window.location.href = '/'; // 假设登录页面的路径是 /
              } else {
                  console.error('登出失敗');
              }
          })
          .catch(error => {
              console.error('登出時發生錯誤:', error);
          });
      });
      </script>
 <!-- 引入Bootstrap JS -->
 <script src="{{ url_for('static', filename='css/bootstrap.bundle.min.js') }}"></script>
 <script src="{{ url_for('static', filename='css/script.js') }}"></script>
 <script src="{{ url_for('static', filename='css/modal_script.js') }}"></script> <!-- 引用自定义訊息框JS文件 -->
 <script src="{{ url_for('static', filename='css/addclient_script.js') }}"></script> <!-- 引用自定义增加客戶JS文件 -->
 <script src="{{ url_for('static', filename='css/modifyclient_script.js') }}"></script> <!-- 引用自定义修改客戶JS文件 -->
 <script src="{{ url_for('static', filename='css/queryreport_script.js') }}"></script> <!-- 引用自定义報表查詢JS文件 -->
 <script src="{{ url_for('static', filename='css/reportcounter_script.js') }}"></script> <!-- 引用自定义張數記錄JS文件 -->
 
</html>


