{% extends "admin_index.html" %}

{% block content %}
    {{ super() }}
    <form  class=" align-items-center"  id="monthForm" action="/admin/dashboard" method="POST">
        <!-- Month Selector -->
        <label for="startMonth" style="font-size: x-large;" >選擇月份:</label>
        <input type="month" id="startMonth" name="startMonth"> <!-- Adds name for form submission -->
        <button type="submit" class="btn btn-primary btn">提交</button> <!-- Submit button for form -->
    </form>
    <canvas class="my-4 w-100" id="myChart" name="myChart" width="900" height="380"></canvas>
    
    <h1 style="color:rgb(224, 48, 48)">各區客戶月統計</h1>
    <h2 style="color:rgb(12, 15, 196)">{{ formatted_start_date }}-{{ formatted_end_date }}</h2>
    
    <!-- Table for Statistics -->
    <table class="table" id="statsTable" name="statsTable">
        <thead class="table-dark">
            <tr>
                <th>區域名稱</th>
                <th>客戶總數</th>
                <th>客戶保養達成數</th>
                <th>達成率</th>
            </tr>
        </thead>
        <tbody>
            {% for area, stats in result.items() %}
                <tr>
                    <td>{{ area }}</td>
                    <td>{{ stats.total_clients }}</td>
                    <td>{{ stats.matched_clients }}</td>
                    <td>{{ "%.2f" % (stats.matched_clients / stats.total_clients * 100) }} %</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    

<script src="{{url_for('static', filename='css/bootstrap.bundle.min.js')}}"></script>
<script src="{{url_for('static', filename='css/chart.umd.js')}}"></script>



{% endblock %}
