{% extends "base.html" %}
{% block content %}
{{ super() }}

<div id="modalPlaceholder3"></div>

<div class="mx-auto mt-5">
    <br><br>
    <h1 style = "color:saddlebrown" >客戶名單</h1>
    <div class="d-flex">
        <input class="form-control me-2" id="searchInput" type="search" placeholder="搜尋客戶名稱" aria-label="Search">
        <button class="btn btn-outline-success col-1" id="searchButton" type="submit">搜尋</button>
    </div>
    <br>
    <table class="table table-bordered" id="modifyClientTable">
        <thead class="table-primary">
          <tr>
            <th scope="col">編號</th>
            <th scope="col">ID</th>
            <th scope="col">客戶名稱</th>
            <th scope="col">機號</th>
            <th scope="col">機型</th>
            <th scope="col">廠牌</th>
            <th scope="col">類型</th>
            <th scope="col">IP位置</th>
            <th scope="col">操作</th>
          </tr>
        </thead>
        <tbody>
          <!-- 数据会追加到这里 -->
        </tbody>
      </table>
    </div>
    <div id="paginationControls">
        <button id="prevPage" class="btn btn-secondary">上一页</button>
        <span id="pageIndicator">第 1 页</span>
        <button id="nextPage" class="btn btn-secondary">下一页</button>
    </div>
<!-- 編輯客戶模態框 -->
<div class="modal fade" id="editCustomerModal" tabindex="-1" aria-labelledby="editCustomerModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editCustomerModalLabel">編輯客戶</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="editCustomerForm">
                    <div class="mb-3">
                        <label for="editCustomerName" class="form-label">客戶名稱</label>
                        <input type="text" class="form-control" id="editCustomerName">
                    </div>
                    <div class="mb-3">
                        <label for="editCustomerMachineNumber" class="form-label">機號</label>
                        <input type="text" class="form-control" id="editCustomerMachineNumber">                       
                    </div>
                    <div class="mb-3">
                        <label for="editCustomerModel" class="form-label">機型</label>
                        <input type="text" class="form-control" id="editCustomerModel">
                    </div>
                    <div class="mb-3">
                        <label for="editCustomer" class="form-label">廠牌</label>
                        <input type="text" class="form-control" id="editCustomer">
                    </div>
                    <div class="mb-3">
                        <label for="editCustomerType" class="form-label">類型</label>
                        <input type="text" class="form-control" id="editCustomerType">
                    </div>
                    <div class="mb-3">
                        <label for="editCustomerIp" class="form-label">IP位置</label>
                        <input type="text" class="form-control" id="editCustomerIp">
                    </div>
                    <button type="button" class="btn btn-primary" id="saveEditCustomerButton">保存修改</button>
                </form>
            </div>
        </div>
    </div>
</div>



{% endblock %}
