
{% extends "base.html" %}

{% block content %}
    {{ super() }}

<!-- 模态框内容的占位符 -->
<div id="modalPlaceholder"></div>

<div id="modalPlaceholder2"></div>

<div id="modalPlaceholder3"></div>


<div class="mx-auto mt-5">
    <br><br>
    <h1 style = "color:rgb(156, 196, 12)" >張數記錄</h1>


    <form  class="row gx-3 gy-2 align-items-center" id="reportCounterForm"  >
        <div  class="col-auto" >
            <label for="startDate">開始日期:</label>
            <input type="date"  value="2024-05-01" id="startDate" name="startDate" class="form-control" >
        </div>
        <div class="col-auto">
            <label for="endDate">结束日期:</label>
            <input type="date" id="endDate" name="endDate" class="form-control">
        </div>
        <div class="col-auto">
          <label for="customerName">客户名稱:</label>
          <input type="text"  id="customerName" name="customerName" list="customerNameList" placeholder="請輸入客戶名稱或關鍵字" class="form-control" >
          <datalist id="customerNameList"></datalist>
          
        </div>
        <div class="col-auto ">
        <button type="submit" id="queryButton" name="queryButton" class="btn btn-primary btn-lg">查詢</button>
        </div>
    </form>
    <br><br>
    <!-- 在 reportcounter.html 中 -->
<div class="h2 row gx-3 gy-2 align-items-center" id="result" style="display:none; ">
  黑白張數：<a id="bcounter" style = "color:rgb(243, 14, 14)"> </a>
  彩色張數：<a id="ccounter"style = "color:rgb(243, 14, 14)"></a>
  黑白月平均張數：<a id="bavgcounter"style = "color:rgb(243, 14, 14)"></a>
  彩色月平均張數：<a id="cavgcounter"style = "color:rgb(243, 14, 14)"></a>
</div>

</div>
<table class="table table-bordered" id="reportCounterTable" >
    <thead class="table-primary">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">日期</th>
        <th scope="col">客戶名稱</th>
        <th scope="col">機號</th>
        <th scope="col">機型</th>
        <th scope="col">黑白計數器</th>
        <th scope="col">彩色計數器</th>
        <th scope="col">彩色計數器2</th>
        <th scope="col">維修內容</th>
        <th scope="col">黑白張數</th>
        <th scope="col">彩色張數</th>
      </tr>
    </thead>
    <tbody>

        <tr>
            <td></td>            
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>

            <!-- 其他报表字段 -->
        </tr>


    </tbody>
  </table>


{% endblock %}
