{% extends "base.html" %}

{% block content %}
    {{ super() }}


    


<!-- 模态框内容的占位符 -->
<div id="modalPlaceholder"></div>

<div id="modalPlaceholder2"></div>

<div id="modalPlaceholder3"></div>




<!-- 显示表格的区域 -->
<div class="mx-auto mt-5">
<br><br>
  <h1>日報表</h1>
  <div class="d-grid gap-2 d-md-flex p-4 justify-content-md-end mb-3">

    <button type="button" class="btn btn-outline-danger btn-lg" id="addPartButton" style="display: none;" >增加料號</button>
    <button type="button" class="btn btn-outline-primary btn-lg" id="addNextButton" style="display: none; ">輸入下一筆</button>
  
  </div>
  <h4 style="color: #f31621; ">※如換機或更換計數器板，請在維修情況中填寫“換機“或“更換計數器板“  </h5>
  <table class="table table-bordered" id="dailyReportTable">
    <thead class="table-primary">
      <tr>
        <th scope="col">日期</th>
        <th scope="col">客戶名稱</th>
        <th scope="col">IP位址</th>
        <th scope="col">機號</th>
        <th scope="col">機型</th>
        <th scope="col">黑白計數器</th>
        <th scope="col">彩色計數器</th>
        <th scope="col">彩色計數器2</th>
        <th scope="col">零件料號</th>
        <th scope="col">數量</th>
        <th scope="col">維修內容</th>
      </tr>
    </thead>
    <tbody>
      <!-- 数据会追加到这里 -->
    </tbody>
  </table>
</div>




{% endblock %}
